@model NumizmatDictionary.Models.Collectors

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Коллекционеры</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacts" class="control-label"></label>
                <input asp-for="Contacts" class="form-control" />
                <span asp-validation-for="Contacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailabilityInCollection" class="control-label"></label>
                <input asp-for="AvailabilityInCollection" class="form-control" />
                <span asp-validation-for="AvailabilityInCollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
